body {
  background-color: #dff5e1; /* 淡绿色 */
  color: #004d00; /* 深绿色 */
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  line-height: 1.8;
  margin: 2em;
}

h1, h2, h3 {
  color: #004d00;
  font-size: 2.5em;
}

p {
  margin-bottom: 1.2em;
}
